@import "utilidades/extend";
@import "utilidades/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-principal;
}

header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px;
    background-color: $color-principal;
    
}

.lista{
    @extend %item;
}
a:hover{
    color: $color-secundario
}

.icon{
  @extend %icon;
}

.nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

main{
    background-color: $color-principal;
    display: grid;
    height: 60vh;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(4,100px);
    
    .contenido{
        grid-column: 2/4;
        grid-row: 2/4;
        
    }
    
    .titulo{
        color: $color-secundario;
        font-family: $texto;
        grid-row: 1;
        grid-column: 1/ 5;
        text-align: center;
        margin-top: 30px;
        
        
    }
    .texto{
        color: $color-secundario;
        font-family: $texto;
        grid-column: 1/5;
        grid-row: 4/5;
        text-align: center;
    }
}
.img{
    @extend %imagen;
}
.ignore{
    display: none;
}




@media screen and (min-width: 600px) {
    main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:repeat(6,100px);
        
    }
    .titulo{

    }
    .contenido{

    }
    .dos{
        display: block;
        object-fit: cover;
       }
    }
@media screen and (min-width: 1024px){}